<%= render :partial => 'layouts/flash' %>
<% if @termin.errors.any? %>
  <ul class="error">
  <% @termin.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<div id="tform">
<%= form_for @termin do |t| %>
  <%= t.label :osoba %>
  <%= t.text_field :osoba %>
  <br/>

  <!-- %= t.label :car_id, 'Samochód' %>
  < %= t.text_field :car_id, :value => @id %>
  <br/>
  -->
  <%= t.hidden_field :car_id, :value => @id, :readonly => 'readonly' %>

  <%= t.label :data_wyp, 'Data wypożyczenia' %>
  <%= t.date_field :data_wyp %>
  <br/>

  <%= t.label :data_odd, 'Data oddania' %>
  <%= t.date_field :data_odd %>
  <br/>

  <%= t.submit 'utwórz' %>
<% end %>

<%= link_to 'wróć', car_path(@id) %>
</div><!-- /.tform -->
