<h1>Cars#new</h1>

<% if @car.errors.any? %>
  <ul class="error">
  <% @car.errors.full_messages.each do |err| %>
    <li><%= err %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for(@car) do |c| %>
  <%= c.label :name, 'nazwa' %>
  <%= c.text_field :name %>
  <br/>

  <%= c.label :description %>
  <%= c.text_area :description %>
  <br/>

  <%= c.label :car_class, 'klasa' %>
  <%= c.text_field :car_class %>
  <br/>

  <%= c.submit 'utwórz' %>
<% end %>
