<%= render :partial => 'layouts/flash' %>

nazwa: <%= @car.name %><br/>
opis: <%= @car.description %><br/>
klasa: <%= @car.class %><br/>

<%= link_to 'edytuj', edit_car_path(params[:id]) %>
<%= link_to 'usuń', @car, method: :delete %>

<br/>
<hr/>
Wypożyczony:

<table id="term">
  <tr>
    <th>Data wypożyczenia</th>
    <th>Cena</th>
    <th>Osoba</th>
  </tr>
  <% @terms.each do |t| %>
  <tr>
    <td><%= t[:date_of_rent] %> do <%= t[:date_of_return] %></td>
    <td><%= t[:price] %></td>
    <td><%= t[:person] %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'nowy termin', new_term_path(:car_id => @car[:id]) %>
